/* home page content */
.homepage {
  padding: 100px;
}


/* .image-wrapper {
  border-left: 20px #E2D9BD solid;
  border-right: 20px #E2D9BD solid;
} */

.about-alex-image-wrapper {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin: 50px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  border-left: 15px #E2D9BD solid;
  border-right: 15px #E2D9BD solid;

}

.about-alex-image-wrapper img {
  display: block;
  transform: rotate(-45deg);
  margin: -25px;
  width: 150px;
  height: 150px;
}

.about-alex-block a {
  padding-top: 50px;
}

.about-alex-signature img {
  float: right;
  max-width: 244px;
  width: auto;
}

.kenmerken-block {
  background: #3E4C59;
  text-align: center;
  position: absolute;
  margin-left: 800px;
  color: white;
  width: 33.33333%;
  padding: 20px;
  border-bottom: 15px #E2D9BD solid;
  border-left: 15px #E2D9BD solid;
  border-right: 15px #E2D9BD solid;
}

.kenmerken-content {
  padding: 30px;
}

.kenmerk {
  padding: 30px 0px 20px 0px;
  text-transform: uppercase;
  position: relative;
}

.kenmerk:before {
  content: "";
  position: absolute;
  top: 0;
  margin-top: 30px;
  left: 55%;
  -moz-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  -webkit-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  width: 80px;
  height: 47px;
  background-image: url(/sites/all/themes/alexcc/images/vinkje.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.about-alex-content {
  margin-left: 5%;
  margin-right: 20%;
}

.about-alex-block {
  width: 1200px;
}

/* .view-articles {
  padding-left: 20%;
} */

.articles-block {
  padding-left: 20%;
  display: flex;
  flex-wrap: wrap;
}

#edit-submit-articles {
  width: auto;
  height: auto;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #3E4C59;
  margin-left: 15px;
  font-size: 15px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
}

.view-filters {
  padding: 10px 25px;
}

/* 
.node-article {
  float: left;
  padding: 10px;

} */

.artikelen {
  padding: 15px;
}

.block-title a {
  text-decoration: none;
  color: #3E4C59;
  font-size: 18px;
}

.col-first .node-article {
  padding: 30px;
  border-bottom: 15px #E2D9BD solid;
  border-left: 15px #E2D9BD solid;
  border-right: 15px #E2D9BD solid;
}

.col-last .node-article {
  padding: 30px;
  border-bottom: 15px #3E4C59 solid;
  border-left: 15px #3E4C59 solid;
  border-right: 15px #3E4C59 solid;
}


.artikelen .read-more-button {
  position: relative;
  top: 20px;
}

.artikelen .view-mode-teaser {
  height: 450px;

}

.field-name-post-date {
  color: #E2D9BD;
}

.field-name-changed-date {
  text-transform: lowercase;
  font-weight: bold;
  color: #3E4C59;

}

.artikelen .view-mode-full {
  height: 100%;
}

.content .view-mode-full {
  margin-left: 200px;
  width: 700px;

}

.diensten-logo {
  width: 82px;
  height: 82px;
}

.diensten-blok {
  margin: 120px 20px;
}

.diensten-blok .read-more-button {
  position: relative;
  top: 20px;
}

.links .image-wrapper {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin: 10px 40px 100px 20px;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.rechts p {
  text-align: right;
}

.left p {
  text-align: left;
}


.rechts .image-wrapper {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin: 10px 40px 80px 20px;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.diensten-blok .image-wrapper img {
  display: block;
}

.alex-signature img {
  float: right;
  max-width: 244px;
  width: auto;
}

.slideshow {
  margin-left: 200px;
}
