.region-footer-firstcolumn {
  width: 50%;
}

.contact-form h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #E2D9BD;
  font-size: 16px;
}

.webform-component--title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #3E4C59;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 1.1em;
  padding-bottom: 20px;
  padding-bottom: 40px;
}

.webform-client-form .form-item input,
.webform-client-form .form-item textarea {
  border: 1px solid #E2D9BD;
  padding: 10px;
  border-left: 20px solid #E2D9BD;
  border-style: ridge;
}

.webform-client-form.webform-client-form-6 .webform-component--naam {
  padding-right: 20px;
}

.name-field {
  float: left;
  width: 39%;
  margin-bottom: 30px;
  margin-right: 20px;
}

.telephone-field {
  float: left;
  width: 39%;
  margin-bottom: 30px;
}


.webform-submit {
  border-left: 15px solid #E2D9BD;
  border-right: none;
  border-top: none;
  border-bottom: none;
  text-transform: uppercase;
  margin-left: 15px;
  position: relative;
  font-weight: bold;
  text-align: right;
  float: right;
  margin-top: -20px;
  margin-right: 20px;
  margin-bottom: 40px;
  width: auto;
  height: auto;
  background-color: #3E4C59;
  color: white;
  padding: 15px;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.webform-submit:hover {
  background-color: #E2D9BD;
  border-left: 15px solid #3E4C59;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: #3E4C59;

}

.form-textarea {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #808285;
  border-left: 20px solid #E2D9BD;
}


.information-block {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 1000px;
  bottom: -500px;
  background: #E2D9BD;
  z-index: -1;
  padding: 50px;
  color: #3E4C59;
  font-weight: bold;
  border-top: 25px solid #3E4C59;
  border-left: 25px solid #3E4C59;
}



.information-block h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #3E4C59;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 1.1em;
  padding-bottom: 20px;
  padding-bottom: 20px;
}

.contact-info {
  float: left;
  width: 50%;
}

.contact-info a {
  text-decoration: none;
  color: #3E4C59;

}

.aangesloten {
  float: left;
  width: 50%;
  margin-left: -2350px;
}

.aangesloten img {
  max-width: 100px;
  max-height: 50px;
  width: auto;
  padding: 10px;
}

.privacy-block {
  background: #3E4C59;
  margin-top: 500px;
  color: white;
  width: 1170px;
  height: 50px;
  padding: 10px;
}


.privacy-block a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

#footer-columns {
  margin-top: 200px;
}
