.logo-and-slogan {
  position: absolute;
  z-index: 5;
  background: white;
  padding: 16px 30px 30px 30px;
  margin-top: 40px;
  margin-left: -8%;
  max-width: 490px;
  left: 25%;
}

#name-and-slogan {
  max-width: 490px;
  font-size: 23px;
  text-transform: uppercase;
  color: #e2d9bd;
  padding-left: 135px;
  line-height: 36px;
  padding-top: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

#alex-logo {
  position: absolute;
}

#alex-logo a {
  float: left;
}

#alex-logo img {
  vertical-align: middle;
}

#header-photo {
  background-size: cover;
  background-position: center;
  z-index: -2;
  max-height: 500px;
  margin-top: -20px;
  height: 27vh;
  min-height: 210px;
  width: 100%;
  background-image: url("https://www.vanalex.nl/sites/default/files/styles/header_foto/public/bank-bankbook-banking-1020313.jpg?itok=Vb7Kn_sE&c=d670c528019505992dbf4dc2a3a00205");
}

#block-nice_menus-1 {
  background: #3e4c59;
  color: white;
  min-height: 40px;
  list-style: none;
  z-index: 99;
  padding: 0;
  height: 56px;
  padding-left: 35%;
  margin-bottom: 50px;
  margin-top: -20px;
  float: left;
}

.sticky {
  position: fixed;
  top: 85px;
}

#block-nice_menus-1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

#diensten li {
  background: #E2D9BD;
}

#block-nice_menus-1 .menu-item {
  display: inline-block;
  margin: 0;
  position: relative;
  border: none;
}


#block-nice_menus-1 .menu-item a {
  background: #3e4c59;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 20px;
}

#page {
  margin-bottom: 100px;
}

.telephone-block {
  background-color: #e2d9bd;
  color: #3e4c59;
  padding: 20px 14px;
  margin: 0 20px 0 100px;
  text-transform: uppercase;
  margin-top: -20px;
  height: 20px;
  float: left;
  overflow: hidden;
  text-align: center;
  width: 10%;
}

.telephone-block a {
  font-weight: bold;
  padding-left: 5px;
  text-decoration: none;
  color: #3e4c59;
}

/* #photo-block {
  width: 445px;
  height: 600px;
  position: absolute;
  margin-left: 90px;
  margin-top: -30px;
} */

/* .photo {
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 363px;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  -webkit-transition: width 1s;
  transition: width 1s;
  background-image: url("images/alex.jpg.jpg");
  overflow: hidden;
  padding: 150%; */
/* }

.photo:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(62, 76, 89, 0.7);
  content: "";
}

.photo-block {
  margin: -300px;
} */


#block-user-login {
  background-color: #e2d9bd;
  padding: 20px;
  float: right;
  width: 200px;
}


.user-login-button-block {
  float: right;
  background-color: #e2d9bd;
  vertical-align: middle;
}

.user-login-button-block img {
  width: 100px;
}


.test {
  background-color: #e2d9bd;
  display: none;
}

.open-login-button {
  background-color: #e2d9bd;
  border: none;
}

.foto {
  background-image: url("https://www.vanalex.nl/sites/default/files/profiel-foto-alex.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 150%;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  -webkit-transition: width 1s;
  transition: width 1s;
}

#block-views-header-profiel-foto-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  width: 445px;
  height: 600px;
}
