/* ---------- Basic Layout Styles ----------- */

html,
body,
#page {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #808285;
  width: 100%;
  scroll-behavior: smooth;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
}


@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 601px) {
  #html {
    width: 600px;
  }
}

#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}

#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  margin-left: -150px;
}

#primary_menu {
  width: 100px;
}

.read-more-field {
  margin-top: 50px;
}

.read-more-button {

  background-color: #3E4C59;
  color: white;
  padding: 8px 15px;
  border-left: 15px solid #E2D9BD;
  border-right: none;
  border-top: none;
  border-bottom: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  text-decoration: none;
}

h3 {
  color: #3E4C59;
  font-size: 21px;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #E2D9BD;
  font-size: 16px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #3E4C59;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 1.1em;
  padding-bottom: 20px;
  padding: 0px 0px 15px;
}

p {
  margin: 10px 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.read-more-button:hover {
  background-color: #E2D9BD;
  border-left: 15px solid #3E4C59;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: #3E4C59;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* 
#header div.section {
  position: relative;
} */

.with-secondary-menu .region-header {
  margin-top: 3em;
}

.without-secondary-menu .region-header {
  margin-top: 15px;
}

#secondary-menu {
  position: absolute;
  right: 0;
  /* LTR */
  top: 0;
  width: 480px;
}

#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left;
  /* LTR */
  position: relative;
}

.one-sidebar #content {
  width: 720px;
}

.two-sidebars #content {
  width: 480px;
}

.no-sidebars #content {
  width: 960px;
  float: none;
}

#sidebar-first,
#sidebar-second {
  width: 240px;
}

#main-wrapper {
  min-height: 300px;
}

#content .section,
.sidebar .section {
  padding: 0 15px;
}

#breadcrumb {
  margin: 0 15px;
}

.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}

#footer-wrapper {
  padding: 35px 5px 30px;
  margin-top: 50px;
}

.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}

#footer {
  width: 940px;
  min-width: 920px;
}
