#kennismaken {
  position: fixed;
  top: 50vh;
  left: 0;
  background: #E2D9BD;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: top left;
  line-height: 20px;
  z-index: 30;
  scroll-behavior: smooth;
}


#kennismaken a {
  padding: 12px 15px;
  display: inline-block;
  color: #3E4C59;
  text-transform: uppercase;
  text-decoration: none;
}

#block-webform-client-block-6 {
  scroll-behavior: smooth;

}
